body{
    background-image: url("background.jpg");
    margin-left:5%;
    margin-right:5%;
    width:90%;
    text-align:center;
}

#logo{
    max-width: 700px;
    width:75%;
    margin-bottom: 10pt;
}

#content{
    text-align: left;
    margin: 0px 15px;
}

.title{
    font-size: x-large;
    font-weight: bold;
    color: #0e00b0;
}


div.box {
    width:100%;
    height:170px;
    overflow:auto;
    background-color:#FFF;
    border:1.5px #000000 solid;
    text-align: left;
}

div.box p {
margin: 8px;
}

.contents {
    background-color: rgba(255,255,255,0.8);
}

.block{
    padding: 0.5em 1em;
    margin: 0.5em 0;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
}

.links ul {
    list-style-type: none;
}

.links a {
    display: block;
    height: 1.5em;
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.twitter-timeline{
    text-align: center;
    
}

.alrt{
    text-align: left;
    font-size: 15px;
    padding:10px;
    margin: 10px 10px 10px 5px;
}

.sc{
    text-align: center;
}

.sc-p{
    margin-bottom: 0;
}

.block2{
    background-position: 50%;
    font-size: 25px;
    line-height: 100;
    padding: 0 auto;
    color:white;
    border-radius: 10px;
}

@media screen and (max-width:640px){
    .block2{
        font-size: 10px;
    }

    .shinkan-book-list{
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width:641px) and (max-width:1024px){
    .block2{
        font-size: 15px;
    }
}

@media screen and (min-width:1025px){
    .block2{
        font-size: 25px;
    }
}


a .block2:hover{
    opacity: 0.7;
}

.shinkan-book{
    background-image: url(./book/front_cover_black.jpg);
    background-size: 100% auto;
}

.shinkan-project{
    background-image: url(./image/shinkan-black.jpg);
    background-size: auto 100%;
}

.sc-intro{
    background-image: url(./image/izumi4-black.jpg);
    background-size: 100% auto;
}


@media only screen and (max-width: 400px){
    .mail, .twitter_massage{
        text-align: left;
    }
}

@media only screen and (min-width: 600px){
    body{
        margin-left:10%;
        margin-right:10%;
        width:80%;
    }

    .title{
        font-size: 30px;
        font-weight: bold;
        color: #0e00b0
    }
}